.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $small) {
    display: block;
  }

  @media screen and (max-width: $mobile) {
    display: block;
  }

  @media screen and (max-width: $tablet) {
    display: block;
  }

  @media screen and (max-width: $desktop) {
    display: block;
  }
}


.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;

  @media screen and (min-width: $small) {
    display: block;
  }

  @media screen and (min-width: $mobile) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.screen-center {
  min-height: calc(100vh - 172px);
  align-items: center;
  justify-content: center;
  position: relative;

  & .bottom-right {
    position: absolute;
    right: 3px;
    bottom: 3px;
  }

  & .bottom-left {
    position: absolute;
    left: 3px;
    bottom: 3px;
  }

  & .bottom-middle {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 3px;
  }
}

.transparent {
  background-color: transparent !important;
}

.section {
  padding: 10px 20px;
}

.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.wp-50 {
  width: 50% !important;
  min-width: 50% !important;
}

.wp-100 {
  width: 100% !important;
  min-width: 100% !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}

.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-100 {
  margin-top: 100px !important;
}

.mr-10 {
  margin-right: 10px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.mr-120 {
  margin-right: 120px !important;
}

.ml-10 {
  margin-left: 10px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-120 {
  margin-left: 120px !important;
}

.pr-10 {
  padding-right: 10px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pr-70 {
  padding-right: 70px !important;
}

.pl-10 {
  padding-left: 10px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pl-70 {
  padding-left: 70px !important;
}

h1 {
  @media screen and (max-width: $tablet) {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

h2 {
  font-size: 1.5em;

  @media screen and (max-width: $tablet) {
    font-size: 1.2em;
  }
}

.op-25 {
  opacity: 0.25;
}

.op-50 {
  opacity: 0.5;
}

.op-75 {
  opacity: 0.75;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}
