// responsive screen width
$small: 360px;
$mobile: 576px;
$tablet: 768px;
$medium: 992px;
$desktop: 1200px;

// colors
$white: #FFF;
$black: #000;
$gray: #84949C;
$light-gray: #F0F0F0;
$dark-gray: #C4C4C4;
$darker-gray: rgba(0, 0, 0, 0.4);

$red: #FB0004;
$light-red: #FF5556;

$blue: #0700FF;
$light-blue: #428BCA;
$dark-blue: #01002B;

$green: #00AD2F;
$orange: rgb(255, 152, 0);
