@import "variables";
@import "reboot";
@import "helpers";

@import "components/button";
@import "components/card";
@import "components/circle";
@import "components/container";
@import "components/home";
@import "components/image";
@import "components/text";
@import "components/logo";
@import "components/game";
@import "components/nav-header";
@import "components/staking";
@import "components/timer";
@import "components/team";
@import "components/footer";
@import "components/rules";
