.card {
  z-index: 1;

  &:last-child {
    margin: 0 !important;
  }

  &.card-v {
    margin-bottom: 0px;
	  border: 2px solid #E6E8EA;
    border-radius: 0px !important;
	  box-shadow: none !important;

    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &.card-h {
    margin-right: 100px;
    width: 360px;
    padding: 10px;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 80px rgba(7,0,255,.15);
    border-radius: 10px;

    @media screen and (max-width: $desktop) {
      width: 300px;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 30px !important;
    }

    &.medium {
      width: 260px;
    }

    &.blue {
      box-shadow: 0 0 40px rgba(7,0,255,.25);

      & .badge {
        position: absolute;
        background-color: $blue;
        top: -30px;
        left: -55px;
        font-weight: bold;
        transform: rotate(-45deg);
        color: $white;
        padding: 25px 40px 5px;
        box-shadow: 0 0 40px rgba(0,0,255,.5);
      }
    }

    &.red {
      box-shadow: 0 0 40px rgba(255,0,70,.25);

      & .badge {
        position: absolute;
        background-color: $red;
        top: -30px;
        left: -55px;
        font-weight: bold;
        transform: rotate(-45deg);
        color: $white;
        padding: 25px 40px 5px;
        box-shadow: 0 0 40px rgba(255,0,0,.5);
      }
    }

    &.white {
      box-shadow: 0 0 40px rgba(255, 255, 255, .5);
    }

  }

  & b {
    display: block;
    font-size: 1.8em;

    @media screen and (max-width: $tablet) {
      font-size: 1.5em;
    }
  }
  &.card-tip {
    display: flex;
    padding: 15px 10px;
    background: rgba(93, 255, 255, 0.06);
    border-radius: 12px;
  }

  &.card-info {
    display: flex;
    padding: 25px 20px;
    background: rgba(93, 255, 255, 0.06);
    border-radius: 12px;
    min-width: 400px;
  }
}

.MuiCardContent-root {
  padding: 0px !important;
  position: relative;
}

.MuiPaper-root {
  color: $white !important;
}