.team {
  &-button {
    width: 405px;
    height: 345px;
    position: relative;
    background: $light-gray;
    cursor: pointer;
    
    &:last-child {
      margin-left: 20px;
    }

    &__percent {
      position: absolute;
      width: 100%;
      background: $dark-gray;
      bottom: 0;
    }

    &__text {
      font-size: 14px;
      line-height: 130%;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}